<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<title>Carousel with Videos and Ads from REST API</title>
<head>
<!-- Load Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link href="/public/style.css" rel="stylesheet">
<link href="https://vjs.zencdn.net/7.10.2/video-js.min.css" rel="stylesheet">
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>


</head>
  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

<body>

<div class="bcm-page">
  
  <div class="bcm-fullwidth">
    <div class="bcm-center">
      <div class="bcm-grid">

      </div>
    </div>
  </div>

</div>

  <script>
    $(document).ready(function() {
      // Load videos and ads from REST API endpoint
      var url='https://stingray-app-4wzxb.ondigitalocean.app/video/api/videos/'
      $.getJSON(url, function(data) {
        $.each(data, function(index, item) {
          // create a new carousel item for each video
          var itemHtml = '<div class="carousel-item">' +
                            '<a class="cart-icon" href=""> </a>' +
                            '<video width="100%" class="video-js vjs-default-skin vjs-big-play-centered" loop autoplay muted>' +
                            '</video>' +
                            '<div class="carousel-caption">' +
                              '<h5>' + item.name +'</h5>' +
                            '</div>' +

                            // '<div class="video-item-desc">' +
                               
                            '</div>' +
                          '</div>';
          $('.bcm-grid').append(itemHtml);
          console.log(item);

          // initialize the video player for each video
          var video = videojs($('.carousel-item').last().find('video').get(0), {fluid: true});

          console.log(item.playback_hls);
          video.src({
            src: item.playback_hls,
            type: 'application/x-mpegURL'
          });
          video.load();
          video.play();

          // create a new nested carousel for the ads
          if (item.related_products.length === 0) { console.log("Array is empty!")  } else {
            var adHtml = '<div class="carousel-ads active"><div class="d-flex">';
            $.each(item.related_products, function(index, ad) {
              console.log(ad);
              adHtml += '<div class="ad"><a href="' + ad.link + '">' + ad.name + '<br/><div class="ad-image-container"><img src="' + ad.images[0].image_url + '" class="ad-image"></div></a></div>';
            });
            adHtml += '</div></div>';
            $('.carousel-inner-ads').append(adHtml);
          }
        });

        jQuery(document).ready(function(){

        jQuery('.carousel-item').mouseover(function(){
            var parent = jQuery(this);
            if(jQuery(this).hasClass("hovered") == false){
                jQuery(this).find(".video-item-desc").css('bottom','-30%');
                jQuery(this).addClass("hovered");
            }
        
                jQuery('.carousel-item').click(function(){
                    if(jQuery(parent).hasClass("hovered") == true){
                        jQuery(parent).find(".video-item-desc").css('bottom','-0%');
                    }
                });

                jQuery('.carousel-item').mouseleave(function(){
                        jQuery(parent).find(".video-item-desc").css('bottom','-100%');
                        jQuery(parent).removeClass("hovered");
                        jQuery('.go-to-bag').css('display', 'none');
                        parent = null;
                });

                jQuery('.exit').click(function(){
                jQuery(parent).removeClass("hovered");
                jQuery(parent).find(".video-item-desc").css('bottom','-45%');
                });

                jQuery('.color-variant-options .variant').click(function(){
                jQuery(parent).find('.variant').removeClass("color-variant-selected");
                jQuery(this).addClass("color-variant-selected");
                });

                jQuery('.size-variant-options .variant').click(function(){
                jQuery(parent).find('.variant').removeClass("size-variant-selected");
                jQuery(this).addClass("size-variant-selected");
                });
            });

            jQuery('.add-to-bag').click(function(){
                jQuery('.go-to-bag').css('display', 'inline-block');
                var bagcount = parseInt(jQuery('.cart-item-count span').html());
                bagcount = bagcount + 1;
                jQuery('.cart-item-count span').html(bagcount);
            });
        });

        // activate the first carousel item and nested carousel
        $('.carousel-item').addClass('active');
        $('.carousel-ads').addClass('active');
      });
    });
  </script>
</body>

<script src="javascript.js"></script>
</html> 